ml_model\Mosquito Audio Detector\test\mosquito
ml_model\Mosquito Audio Detector\test\noise
ml_model\Mosquito Audio Detector\train\mosquito
ml_model\Mosquito Audio Detector\train\noise
ml_model\Mosquito Audio Detector\val\mosquito
ml_model\Mosquito Audio Detector\val\noise